<%- include('./partials/head.ejs') %>
    </head>
    <%- include('./includes/css/style.css') %>
    <%- include('./includes/css/home.css') %>

        <body>
            <%- include('./partials/navbar.ejs') %>

                <!-- <section class="header" id="header">
                <div class="intro py-md-5 py-4">
                    <div class="container py-md-5 py-4">
                        <div class="row">
                            <div class="col-md">
                                <div class="divider-shape"></div>
                                <h1 class="my-5">We are the best at Building brands!</h1>
                                <a href="#" class="btn btn-lg btn-main">Get Started</a>
                            </div>
                            <div class="col-md"></div>
                        </div>
                    </div>
                </div>
            </section> -->

                <!-- Section to view card with user's detail -->
                <div class="page-wrapper">
                    <div class="post-slider">
                        <h1 class="slider-title">Trending Users</h1>
                        <i class="las la-chevron-circle-left prev"></i>
                        <i class="las la-chevron-circle-right next"></i>
                        <div class="post-wrapper">

                            <div class="post">
                                <img src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                    alt="" class="slider-image">
                            </div>

                            <div class="post">
                                <img src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                    alt="" class="slider-image">
                               
                            </div>

                            <div class="post">
                                <img src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                    alt="" class="slider-image">
                                
                            </div>

                            <div class="post">
                                <img src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                    alt="" class="slider-image">
                                
                            </div>

                            <div class="post">
                                <img src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                    alt="" class="slider-image">
                                
                            </div>


                        </div>

                    </div>
                </div>
                <div class="content clearfix">

                    <!-- Main Content -->
                    <div class="main-content">

                        <!-- <h1 class="recent-post-title">Recent Posts</h1> -->
                        <div class="search-bar">
                            <form action="index.html" method="post">
                                <input type="text" name="search-term" class="text-input"
                                    placeholder="Search User Here...">
                            </form>
                        </div>
                        <section>
                            <div class="container">
                                <div class="row" style="margin-top: 19px;">
        
                                    <div class="col-md-4">
                                        <div class="card card-01">
                                            <div class="profile-box">
                                                <img class="card-img-top rounded-circle"
                                                    src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                                    alt="Card image cap">
                                            </div>
                                            <div class="card-body text-center">
                                                <span class="badge-box"><i class="fa fa-check"></i></span>
                                                <h4 class="card-title">Caroline Rodrigues</h4>
                                                <p class="card-text">Some quick example text to build.</p>
                                                <span class="social-box">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-01">
                                            <div class="profile-box">
                                                <img class="card-img-top rounded-circle"
                                                    src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                                    alt="Card image cap">
                                            </div>
                                            <div class="card-body text-center">
                                                <span class="badge-box"><i class="fa fa-check"></i></span>
                                                <h4 class="card-title">Caroline Rodrigues</h4>
                                                <p class="card-text">Some quick example text to build.</p>
                                                <span class="social-box">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-01">
                                            <div class="profile-box">
                                                <img class="card-img-top rounded-circle"
                                                    src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                                    alt="Card image cap">
                                            </div>
                                            <div class="card-body text-center">
                                                <span class="badge-box"><i class="fa fa-check"></i></span>
                                                <h4 class="card-title">Caroline Rodrigues</h4>
                                                <p class="card-text">Some quick example text to build.</p>
                                                <span class="social-box">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card card-01">
                                            <div class="profile-box">
                                                <img class="card-img-top rounded-circle"
                                                    src="https://avatars0.githubusercontent.com/u/2575262?s=460&v=4"
                                                    alt="Card image cap">
                                            </div>
                                            <div class="card-body text-center">
                                                <span class="badge-box"><i class="fa fa-check"></i></span>
                                                <h4 class="card-title">Caroline Rodrigues</h4>
                                                <p class="card-text">Some quick example text to build.</p>
                                                <span class="social-box">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- <div class="post clearfix">
                            <img src="images/image_3.png" alt="" class="post-image">
                            <div class="post-preview">
                                <h2><a href="single.hmtl">The strongest and sweetest songs yet remain to be sung</a>
                                </h2>
                                <i class="far fa-user"> Awa Melvine</i>
                                &nbsp;
                                <i class="far fa-calendar"> Mar 11, 2019</i>
                                <p class="preview-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Exercitationem optio possimus a inventore maxime laborum.
                                </p>
                                <a href="single.html" class="btn read-more">Read More</a>
                            </div>
                        </div>

                        <div class="post clearfix">
                            <img src="images/image_4.png" alt="" class="post-image">
                            <div class="post-preview">
                                <h2><a href="single.hmtl">The strongest and sweetest songs yet remain to be sung</a>
                                </h2>
                                <i class="far fa-user"> Awa Melvine</i>
                                &nbsp;
                                <i class="far fa-calendar"> Mar 11, 2019</i>
                                <p class="preview-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Exercitationem optio possimus a inventore maxime laborum.
                                </p>
                                <a href="single.html" class="btn read-more">Read More</a>
                            </div>
                        </div>
                        <div class="post clearfix">
                            <img src="images/image_3.png" alt="" class="post-image">
                            <div class="post-preview">
                                <h2><a href="single.hmtl">The strongest and sweetest songs yet remain to be sung</a>
                                </h2>
                                <i class="far fa-user"> Awa Melvine</i>
                                &nbsp;
                                <i class="far fa-calendar"> Mar 11, 2019</i>
                                <p class="preview-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Exercitationem optio possimus a inventore maxime laborum.
                                </p>
                                <a href="single.html" class="btn read-more">Read More</a>
                            </div>
                        </div>
                        <div class="post clearfix">
                            <img src="images/image_3.png" alt="" class="post-image">
                            <div class="post-preview">
                                <h2><a href="single.hmtl">The strongest and sweetest songs yet remain to be sung</a>
                                </h2>
                                <i class="far fa-user"> Awa Melvine</i>
                                &nbsp;
                                <i class="far fa-calendar"> Mar 11, 2019</i>
                                <p class="preview-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Exercitationem optio possimus a inventore maxime laborum.
                                </p>
                                <a href="single.html" class="btn read-more">Read More</a>
                            </div>
                        </div> -->

                    </div>
                    <!-- // Main Content -->

                    <div class="sidebar">

                        <div class="section topics">
                            <h2 class="section-title">Topics</h2>
                            <ul>
                                <!-- <li><a href="#">Poems</a></li>
                                <li><a href="#">Quotes</a></li>
                                <li><a href="#">Fiction</a></li>
                                <li><a href="#">Biography</a></li>
                                <li><a href="#">Motivation</a></li>
                                <li><a href="#">Inspiration</a></li>
                                <li><a href="#">Life Lessons</a></li> -->
                            </ul>
                        </div>

                    </div>

                </div>
                
                <%- include('./partials/footer.ejs') %>

                    <!-- JQuery -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                    <!-- Slick Carousel -->
                    <script type="text/javascript"
                        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

                    <!-- Custom Script -->
                    <script>
                        $(document).ready(function () {


                            $(".post-wrapper").slick({
                                slidesToShow: 4,
                                slidesToScroll: 1,
                                autoplay: true,
                                autoplaySpeed: 2500,
                                nextArrow: $(".next"),
                                prevArrow: $(".prev"),
                                responsive: [
                                    {
                                        breakpoint: 1024,
                                        settings: {
                                            slidesToShow: 3,
                                            slidesToScroll: 3
                                        }
                                    },
                                    {
                                        breakpoint: 600,
                                        settings: {
                                            slidesToShow: 2,
                                            slidesToScroll: 2
                                        }
                                    },
                                    {
                                        breakpoint: 480,
                                        settings: {
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    }
                                ]
                            });
                        });

                    </script>